body {
    background-color: #111111;
    color: #ffffff;
    display: grid;
    font-family: sans-serif;
    grid-template-rows: auto 1fr auto;
    margin-left: 30%;
    margin-right: 30%;
    min-height: 98vh;
}

header {
    border-bottom: 2px solid #333333;

    h1 {
        margin-bottom: 10px;
    }
}

a {
    color: #aa7aff;
}

a.zola-anchor {
    color: #ffffff;
    text-decoration: none;
}

a:hover.zola-anchor {
    text-decoration: underline;
}

@media screen and (max-width: 720px) {
    body {
        margin-left: 3%;
        margin-right: 3%;
    }

    h1, h2, nav {
        text-align: center;
    }
}
