---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="about me">
    <h2>who am i?</h2>
    <p>
        i'm inyourwalls, a canadian girl who spends her free time tinkering with computers.
        i like dogs, hamburgers, and music.
    </p>

    <br>

    <h2>what am i learning?</h2>
    <p>
        currently, i'm learning minecraft modding with quilt, as well as learning kotlin and rust.
        beyond programming, i've also been getting into cooking, and am currently learning the bass guitar.
    </p>

    <br>

    <h2>what are you working on?</h2>
    <p>
        i'm not working on anything major, but you can take a look at the projects page to see what's up.
    </p>

    <br>

    <h2>where to find me</h2>
    <p>
        check out the links page to see every public account i have (at the time of writing)
    </p>
</PageLayout>