---
import PageLayout from "../layouts/PageLayout.astro";
---

<style>
    a {
        color: inherit;
    }

    a:hover {
        color: #ffdc83;
    }
</style>

<PageLayout title="links">
    <h2>You can find me on the following platforms:</h2>
    <h3>Repository Hosts</h3>
    <a href="https://gitlab.com/InYourWalls">gitlab</a> | <a href="https://github.com/InYourWalls">github</a>

    <h3>Messaging</h3>
    <p>Discord: socks#8108</p>
</PageLayout>