---
import PageLayout from "../layouts/PageLayout.astro";
import ProjectComponent from "../components/ProjectComponent.astro";
---

<PageLayout title="projects">
    <h2>This is a list of projects I may or may not be currently working on.</h2>
    <p>It's probably horribly inaccurate.</p>

    <ul>
        <li><ProjectComponent title="This website" description="Wow!" url="https://inyourwalls.net/" /></li>
        <li><ProjectComponent title="Client Mods" description="A collection of Minecraft client mods." url="https://gitlab.com/InYourMods" /></li>
    </ul>
</PageLayout>