---
interface Props {
    title: string,
    description: string,
    url: string,
}

const { title, description, url } = Astro.props;
---

<style>
    .project {
        text-align: left;
    }

    a, a:visited {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        color: #ffdc83;
        text-decoration: underline;
    }
</style>

<section class="project">
    <h2><a href={url}>{title}</a></h2>
    <p>{description}</p>
</section>