{% macro navbar_link(label, href) %}
  {% if current_path == href %}
    {{ label }}
  {% else %}
    <a href="{{ href }}">{{ label }}</a>
  {% endif %}
{% endmacro navbar_link %}

<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="silly girl's silly website" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.png" />
    {% block meta %}
    <title>inyourwalls.net</title>
    {% endblock meta %}
  </head>

  <body>
    <header>
      {% block header %}
      <h1>inyourwalls</h1>
      {% endblock header %}
      <nav>
        {{ self::navbar_link(label="home", href="/") }} //
        {{ self::navbar_link(label="blog", href="/blog/") }} (<a href="/atom.xml">feed</a>)
      </nav>
    </header>

    {% block body %}
    {% endblock body %}

    <footer>
      Licensed under
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> //
      <a href="https://codeberg.org/inyourwalls/website">source</a>
    </footer>
  </body>
</html>
