{% extends "base.html" %}

{% block meta %}
<title>{{ page.title }} - inyourwalls.net</title>
{% endblock meta %}

{% block header %}
<h1>{{ page.title }}</h1>
<p>Published {{ page.date }}</p>
{% endblock header %}

{% block body %}
<article>
  {{ page.content | safe }}
</article>
{% endblock body %}
