{% extends "base.html" %}

{% block meta %}
<title>blog - inyourwalls.net</title>
{% endblock meta %}

{% block header %}
<h1>blog</h1>
{% endblock header %}

{% block body %}
<main>
  <p>Welcome to my blog! You can read all my silly ramblings here.</p>
  <ul>
    {% for page in section.pages %}
      <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a> ({{ page.date }})</li>
    {% endfor %}
  </ul>
</main>
{% endblock body %}
