{% extends "base.html" %}

{% block body %}
<main>
  <p>Hi! I'm InYourWalls, and welcome to my silly little website.</p>
  <section>
    <h2>Cool Things I've Made</h2>
    <p>This is a list of projects I've made that I'm proud of:</p>
    <ul>
      <!-- depressingly long line but idk what to doooo -->
      {% for project in load_data(path="content/projects.json", format="json") %}
        <li>
          {{ project.name }}: {{ project.desc }}
          ({% for label, url in project.links %}{% if loop.last %}<a href="{{ url }}">{{ label }}</a>{% else %}<a href="{{ url }}">{{ label }}</a> | {% endif %}{% endfor %})
        </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h2>Contact Me</h2>
    <p>
      If you'd like to reach out to me, you can do so over
      <a href="https://matrix.to/#/@socks:inyourwalls.net">Matrix</a> (@socks:inyourwalls.net). If
      that doesn't work for you, you can send me an e-mail at
      <a href="mailto:inyourwalls@tutanota.com">inyourwalls@tutanota.com</a>.
    </p>

    <p>
      My PGP key ID is <code>36100485723CA6572BFC239932AEBABED7222B4B</code>. It can be retrieved
      from <a href="https://keys.openpgp.org/">keys.openpgp.org</a>.
    </p>
  </section>

  <section>
    <h2>Accounts</h2>
    <p>Below is a non-exhaustive list of my internet accounts:</p>
    <section>
      <h3>Software Forges</h3>
      <ul>
        <li><a href="https://codeberg.org/inyourwalls">Codeberg</a></li>
        <li><a href="https://gitlab.com/programmersocks">GitLab</a></li>
        <li><a href="https://github.com/SillySillySocks">GitHub</a></li>
      </ul>
    </section>

    <section>
      <h3>Other</h3>
      <ul>
        <li><a href="https://modrinth.com/user/inyourwalls_">Modrinth</a></li>
      </ul>
    </section>
  </section>
</main>
{% endblock body %}
