---
interface Props {
    title: String,
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <!-- Open Graph data (for Discord embed) -->
        <meta property="og:title" content={title} />
        <meta property="og:site_name" content="inyourwalls.net" />
        <meta property="og:description" content="some girl's stupid website" />
        <meta property="og:image" content="https://inyourwalls.net/icon.png" />

        <link rel="icon" type="image/png" href="/icon.png" />
        <title>{title} - inyourwalls.net</title>
    </head>

    <body>
        <style>
            :root {
                background-color: #35342e;
                color: #fff786;
                text-align: center;
                font-family: monospace;
                font-size: x-large;
            }

            a, a:visited {
                color: inherit;
            }

            a:hover {
                color: #ffdc83;
            }
            
            main {
                margin: 2vw;
                margin-left: 20vw;
                margin-right: 20vw;
            }

            footer {
                position: fixed;
                bottom: 1vh;
                text-align: left;
                color: #4a4940;
            }
        </style>

        <header>
            <h1>{title}</h1>
            <h2><a href="/">about me</a> | <a href="/projects">projects</a> | <a href="/links">links</a></h2>
        </header>

        <main>
            <slot />
        </main>

        <footer>Copyright (c) 2023 InYourWalls. <a href="https://gitlab.com/InYourWalls/website">view source</a></footer>
    </body>
</html> 